.App {
  font-family: PT Sans, Helvetica;
}

.modal {
	background: rgba(17, 17, 17, 0.9);
	position: fixed;
	top: 0;
  left: 0;
	height: 100%;
	width: 100%;
  z-index: 10;
}

.modal-form {
	background: #2f3136;
	border-radius: 5px;
	width: 25%;
	min-width: 500px;
	height: 40%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-form-header {
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

.modal-form-content {
	text-transform: uppercase;
}

.modal-form-content input {
	outline: none;
	background: none;
	border: none;
	border-bottom: 2px solid #111;
	padding: 10px 0;
	color: #ddd;
	
}

.modal-form-error {
	color: #ff4136;
	font-size: 0.8em;
}

.modal-form-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal-form-link {
  background: none;
  outline: none;
  border: none;
  color: #ddd;
  cursor: pointer;
}

.modal-form-link:hover {
  text-decoration: underline;
}

.modal-form-submit {
  background: none;
  color: #ddd;
  outline: none;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 5px 10px;
  transition: 0.4s;
}

.modal-form-submit:hover {
  background: #ddd;
  color: #111;
}


.hidden {
	display: none;
}
