.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header .logo {
  font-family: Righteous;
  font-size: 28px;
  border: 1px blue;
  margin: 20px 60px;
}

.header i {
  margin: 0 5px;
}


.authpage {
  height: 100%;
  background: linear-gradient(to bottom right, rgba(96, 141, 255, 0.4), rgba(232, 238, 255, 0.2)), url('./images/discord_login.jpg');
  background-size: cover;
}

.authform-wrapper {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.authform {
  background: #36393f;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
  box-sizing: border-box;
  min-height: 425px;
  width: 480px;
  padding: 40px;
  margin-left: 25%;
}

.heading {
  font-size: 26px;
  text-align: center;
}

.subheading {
  color: #72767d;
  font-size: 18px;
  text-align: center;
}

.subheading.error {
  color: #f04747;
}

.inner-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.redirect {
  font-size: 14px;
  color: #72767d;
}

.redirect-link {
  font-size: 14px;
  color: #7289da;
  text-decoration: none;
}

.redirect-link:hover {
  text-decoration: underline;
}

h5 {
  color: #b9bbbe;
  font-size: 12px;
  margin: 0;
}

input {
  font-size: 16px;
  color: white;
  border: 1px solid  #040405;
  border-radius: 3px;
  border-style: solid;
  outline: 0;
  box-shadow: none;
  box-sizing: border-box;
  background: #2e3035;
  margin: 0;
  padding: 10px;
  height: 40px;
  width: 100%;
}

input:focus {
  border: 1px solid #7289da;
}

button[type="submit"] {
  border: none;
  border-radius: 5px;
  font-size: 15px;
  color: #fff;
  height: 44px;
  background: #7289da;
}





