.control-pane-component {
	background: #2f3136;
	width: 240px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.control-pane-header {
	height: 48px;
	line-height: 48px;
	cursor: pointer;
	margin-top: 0;
	border-bottom: 1px solid #111;
	box-sizing: border-bottom;
	position: relative;
	top: 0;
	padding: 0 10px;
}

.control-pane-header:hover {
	background: rgba(32,34,37,.3);
}

.control-pane-options {
	margin: 10px;
	border: 1px solid #111;
	border-radius: 5px;
	box-sizing: border-box;
  opacity: 1;
  transition:
    margin 0.4s,
    opacity 0.2s,
    background 0.8s;
}

.control-pane-options-hidden {
  opacity: 0;
  height: 0;
  overflow: hidden;
  background: #111;
  transition:
    margin 0.25s,
}


.control-pane-options button {
	text-align: left;
	outline: none;
	border: none;
	border-radius: 5px;
	box-sizing: border-box;
	background: none;
	color: #7d848e;
	width: 100%;
	height: 25px;
}

.control-pane-options button:hover {
	color: #fff;
	background: rgba(79,84,92, 0.6);
}

.control-pane-list {
	list-style-type: none;
	padding-left: 0;
	margin: 10px;
}

.control-pane-list-item {
	padding: 8px;
	margin: 3px 0;
  border: none;
  border-radius: 5px;
  color: #aaa;
}

.control-pane-list-item:hover {
	background: #36393f;
  color: #fff;
}

.control-pane-list-item-link {
  color: inherit;
  text-decoration: none;
}

.control-pane-list-item span {
	float: right;
	border: none;
	border-radius: 5px;
}

.control-pane-footer {
	background: rgba(32,34,37,.3);
	height: 48px;
	line-height: 48px;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}


.logout-link {
	opacity: 0.8;
	padding: 0 5px;
	box-sizing: border-box;
	transition: background 0.2s;
}

.logout-link:hover {
	opacity: 1.0;
	background: #ff4136;
}
