.friends-nav-component button {
	border: 0;
	border-radius: 5px;
	background: rgb(114, 137, 218);
	color: #fff;
	padding: 5px;
	transition: background 0.2s;
}

.friends-nav-component button:hover {
	background: rgba(114, 137, 218, 0.6);
}
