.server-nav-component {
	width: 70px;
	height: 100%;
	background: #202225;
}

.server-list {
	font-size: 14pt;
  display: flex;
  flex-direction: column;
	align-items: center;
	padding-top: 10px;
}

.server-list-item {
	text-align: center;
	line-height: 50px;
	color: #fff;
	text-decoration: none;
	background: #36393f;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	margin: 5px 0;
	transition: border-radius 0.2s, background 0.2s;
}

.server-list-item:hover {
	border-radius: 15px;
	background: rgb(114, 137, 218);
}

button.server-list-item {
	outline: none;
	border: 1px dashed #535559;
	color: #535559;
	background: #202225;
	transition: color 0.2s, border 0.2s;
}

button.server-list-item:hover {
	border: 1px dashed #fff;
	border-radius: 50%;
	background: #202225;
	color: #fff;
	cursor: pointer;
}

.modal {
	background: #111;
	opacity: 0.9;
	position: fixed;
	top: 0;
  left: 0;
	height: 100%;
	width: 100%;
  z-index: 10;
}

.server-form {
	background: #2f3136;
	border-radius: 5px;
	width: 25%;
	height: 40%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	text-align: center;
}

.server-form input {
	width: 50%;
}

.hidden {
	display: none;
}
